html,body {
    overflow-x: hidden;
    font-family: NotoSansHans;
}
.container-fluid {
    padding: 0px;
}
.color-sand
{
    color: #99825f;
}
.color-white
{
    color: #ffffff;
}
.color-black
{
    color:black;
}
.bg-black
{
    background-color: black;
}
.jumbotron
{
    background-color:#ffffff;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* ----------------*/
/*  Navbar Section */
/* ----------------*/

.navbar {
    padding: 1.5rem 1rem;
    background: black;
}

.navbar a {
    color: white;
}

.navbar a:hover, .navbar a.active {
    color: #99825f;
}
.banner {
    height: 800px;
}

/* ----------------*/
/*    Home   page  */
/* ----------------*/
.home-banner-h1{
    left: 50%;
    top: 50%;
    font-size: 75px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.5;
    letter-spacing: 0.12em;
}
.home-banner-h2{
    left: 50%;
    top: 56%;
    font-size: 70px;
    transform: translate(-50%, -50%);
    color: white;

}

.box1{
    -webkit-clip-path:polygon(0% 0%, 92% 0%, 84% 100%, 0% 100%);
    clip-path:polygon(0% 0%, 92% 0%, 84% 100%, 0% 100%);
    width:120%;
    background: rgba(225, 225, 225, 0.6);
}
.box2{
    -webkit-clip-path:polygon(9% 0%, 93% 0%, 84% 100%, 0% 100%);
    clip-path:polygon(9% 0%, 93% 0%, 84% 100%, 0% 100%);
    width:120%;
    background: rgba(205, 205, 205, 0.6);
}
.box3{
    -webkit-clip-path:polygon(10.5% 0%, 100% 0%, 88% 100%, 0.7% 100%);
    clip-path: polygon(10.5% 0%, 100% 0%, 88% 100%, 0.7% 100%);
    width:110%;
    background: rgba(175, 175, 175, 0.6);
}

.box1:hover ,.box2:hover, .box3:hover {

    background: rgba(255, 255, 255, 0.71);
}
.box1:hover .moreover, .box2:hover .moreover , .box3:hover .moreover{
    width: 50%;
    -webkit-transition: transform  0.5s ; /* For Safari 3.1 to 6.0 */
    transition:transform 0.5s ;

    transform: translate(0px,-50px);
}
.box1:hover .o-hide,.box2:hover .o-hide,.box3:hover .o-hide {
    opacity: 1;
}

.morelink:hover{
    text-decoration: none;
}
.o-hide {
    opacity: 0;
    transition: all ease 0.8s;
}
.abovefooter
{
    background-image: linear-gradient(0deg,rgba(255, 255, 255, 0.6),rgba(255, 255, 255,0.6)),url('../images/home/img_composer4.jpg');
    background-size: cover;
}
.abovefooter .jumbotron
{
    background-color:transparent;
    margin-bottom:0px;
}
.abovefooter hr
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.2);
    width:50px;
}
.moreover-container{
    padding-top: 6rem;
    padding-bottom: 3rem;
}
/* ----------------*/
/*    About   page  */
/* ----------------*/

.about-banner-h1{
    left: 50%;
    top: 46%;
    font-size: 75px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.5;
}
.about-banner-h2{
    left: 50%;
    top: 56%;
    font-size: 70px;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 0.12em;
}
.about-description h3.title {
    color: #9c8b54;
    font-weight: bold;
}

.star-container, .timeline-year {
    color: #9c8b54;
}

.star-container:before {
    content: '';
    display: block;
    width: 1px;
    height: 70px;
    background-color: #9c8b54;
    margin: auto;
}

.timeline-container {
    background: linear-gradient(0deg, rgba(70, 67, 84, 0.8), rgba(70, 67, 84, 0.8)), url('../images/about/timg.jpeg');
    height: 725px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.timeline-container {
    color: white;
}

.timeline-title:before {
    content: '';
    display: block;
    width: 1px;
    height: 70px;
    background-color: white;
    margin: auto;
}

.timeline-container ul {
    list-style: none;
}

.yellow-circle {
    color: #a18b60;
}

.purple-circle {
    color: #7b6cd4;
}

.color-8f8f8f {
    color: #8f8f8f
}

.tile-link {
    padding: 5px;
}

.tile-link:hover {
    color: #99825f;
    text-decoration: none;
}

.timelinr-container {
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../images/about/border.png') left 55px repeat-x;
}
.timelinr-dates {
    width: 800px;
    height: 60px;
    overflow: hidden;
}
.timelinr-dates li {
    list-style: none;
    float: left;
    width: 200px;
    height: 50px;
    font-size: 14px;
    text-align: center;
}
.timelinr-dates a {
    line-height: 38px;
    padding-bottom: 10px;
    color: #ffffff;
}
.timelinr-dates a:hover{
    text-decoration: none;
}
.timelinr-dates .selected {
    font-size: 30px;
}

.timelinr-issues {
    width: 800px;
    height: 350px;
    overflow: hidden;
}
.timelinr-issues li {
    width: 900px;
    height: 350px;
    list-style: none;
    float: left;
}
.timelinr-issues li h6 {
    margin: 20px 0 10px 0;
}
.timelinr-issues li p {
    font-size: 14px;
    margin-right: 70px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
}
.timelinr-next,
.timelinr-prev {
    position: absolute;
    top: 0;
    top: 170px;
    color: white;
}
.timelinr-next:hover,
.timelinr-prev:hover {
    color: white;
}
.timelinr-next {
    right: 0;
}
.timelinr-prev {
    left: 0;
}
.timelinr-next.disabled,
.timelinr-prev.disabled {
    opacity: 0.2;
}
.timeline-border-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -5px;
    cursor: pointer;
}
.description-outer{
    width: 50%;
}

/* ----------------------*/
/*    Achievement  page  */
/* ----------------------*/

.achievement-banner-h1{
    left: 50%;
    top: 46%;
    font-size: 75px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.5;
}
.achievement-banner-h2{
    left: 50%;
    top: 56%;
    font-size: 70px;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 0.12em;
}

.achievmentheading:before,.concert:before
{
    content: "";
    width:2px;
    height:70px;
    background-color: #99825f;
    display:block;
    margin:auto;
    margin-bottom: 10px;
}
.socialachievment::before {
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    color: #99825f;
    margin-right: 15px;
    font-weight: bold;
    margin-left: -1.3em;
    line-height: 1.5em;
}
.awardsongs
{
    /* background-image:url('../images/7576002ajw1f6xmctpx8oj21410qo79g.jpg');  */
    background: linear-gradient(0deg,rgba(70,67,84,0.8),rgba(70,67,84,0.8)),url('../images/achievement/7576002ajw1f6xmctpx8oj21410qo79g.jpg') no-repeat;
    background-size: cover;
}
.awardsongs ul
{
    list-style-type: none;
    line-height: 2.5em;
}
.awardsongheading:before
{
    content: "";
    width:2px;
    height:70px;
    background-color: #ffffff;
    display:block;
    margin:auto;
    margin-bottom: 10px;
}
.awardsongs ul
{
    list-style-type: none;
}
.awardsong:before
{
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    color: #99825f;
    margin-right:5px;
    font-weight: bold;
    line-height: 1.8em;
}
.socialachievment{
    margin-bottom: 1.2em;
    text-indent: -15px;
}

/* -----------*/
/*    Footer  */
/* -----------*/

.footer-text,.footer-text > a{
    color:rgba(255,255,255,.5);
}
.footer-text > a:hover{
    color:rgba(255,255,255,.75);
    text-decoration: none;
}

/* -----------------*/
/*    Responsive    */
/* -----------------*/

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}
@media (max-width: 992px) {
    .timelinr-issues li{
        width: 480px;
    }
}
/* ----------*/
/*    IPAD   */
/* ----------*/

@media(max-width:768px){
    .banner {
        height: auto !important;
    }
    .about-banner {
        height: auto !important;
    }
    .home-banner-h1{
        left:45%;
        top:50%;
        font-size:50px;
    }
    .home-banner-h2{
        left:25%;
        top:60%;
        color:white;
        font-size:40px;
    }
    .achievement-banner-h1{
        left:30%;
        top:20%;
        font-size:50px;
    }
    .achievement-banner-h2{
        left:45%;
        top:35%;
        color:white;
        font-size:40px;
    }
    .about-banner-h1{
        left:35%;
        top:20%;
        font-size:50px;
    }
    .about-banner-h2{
        left:40%;
        top:35%;
        color:white;
        font-size:40px;
    }

    .popup-gallery img{
        width:220px !important;
    }
}

/* -----------*/
/*    PHONE   */
/* -----------*/
@media(max-width:576px){

    /*HOME*/

    .banner {
        height: auto !important;
    }
    .home-banner-h1{
        left:45%;
        top:40%;
        font-size:40px;
    }
    .home-banner-h2{
        left:25%;
        top:55%;
        color:white;
        font-size:30px;
    }
    .box1, .box2, .box3 {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        width: 100%;
        background: rgba(0, 0, 0, .2);
    }

    /*ABOUT*/

    .about-banner {
        height: auto !important;
    }
    .about-banner-h1{
        left:35%;
        top:15%;
        font-size:40px;
    }
    .about-banner-h2{
        left:40%;
        top:35%;
        color:white;
        font-size:30px;
    }
    .timelinr-issues li{
        width: 250px;
    }
    .description-outer{
        width: 85%;
    }

    /*ACHIEVEMENT*/

    .achievement-banner-h1{
        left:30%;
        top:15%;
        font-size:40px;
    }
    .achievement-banner-h2{
        left:45%;
        top:35%;
        color:white;
        font-size:30px;
    }

    /*GALLERY*/

    .mresponsive {
        margin-bottom: 30px !important;
    }
    .mfp-container {
        position:fixed;
    }
}

